{% extends "base.html" %}

{% block title%}{{ document_package.name }}{% endblock %}

{% block body %}
{% include "_flash.html" %}
<div class="row">
    <div class="large-12 columns">
        <h1>Edit {{ document_package.name }}</h1>
        <form action="/document-package/{{ document_package.id }}" method="post">
            {% include "document-package/_package-form-contents.html" %}
            <div>
                <button type="submit" class="button">Save Changes</button>
            </div>
        </form>

        {% import "document-package/_package-macros.jinja" as package_macros %}
        
        <h3>Checking account statements</h3>
        {{ package_macros.upload_form_with_preview(document_package.id, "checking_account",
            documents_by_group_name["checking_account"]) }}

        <h3>Savings account statements</h3>
        {{ package_macros.upload_form_with_preview(document_package.id, "savings_account",
            documents_by_group_name["savings_account"]) }}

    </div>
</div>
{% endblock %}
