[Unit]
Description=Data only container for mysql
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull mysql
ExecStart=/usr/bin/docker run --name %p mysql echo "Data only container for mysql started"
RemainAfterExit=yes

[Install]
RequiredBy=db.service
