{% extends "base.html" %}

{% block title%}{{ user.email }}{% endblock %}

{% block body %}

{% include "_flash.html" %}

<div class="row">
    <div class="large-6 columns">
        <h1>Account</h1>
        <form action="/account" method="post">
            <label>Email</label>
            <input type="email" name="email" value="{{ user.email }}" />

            <label>First name</label>
            <input type="text" name="first_name" value="{{ user.first_name }}" />

            <label>Last name</label>
            <input type="text" name="last_name" value="{{ user.last_name }}" />

            <button type="submit" class="button primary">Update Information</button>
        </form>
    </div>
</div>
{% endblock %}
