<!DOCTYPE>
<html>
    <head>
        {% include "_head-section.html" %}
    </head>
    <body>
        <div class="topbar">
            <div class="topbar__left-side">
                <div class="topbar-item topbar__company-name-container">
                    <a href="/" class="topbar__company-name">Lendsnap</a>
                </div>
            </div>
            <div class="topbar__right-side">
                <div class="topbar-item topbar__account" class="text-right {{ "logged-in" if user }}">
                    {% if user %}
                        {% if user.is_banker %}
                        <i class="icon-bank"></i>
                        {% endif %}
                    <a href="/account" >{{ user.email }}</a>
                    <small><a href="/log-out">logout</a></small>
                    {% else %}
                    <a href="/log-in">log in</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
