[Unit]
Description=Builds media
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --name %p \
    -v /var/lendsnap-repo/media:/var/lendsnap/media \
    media"
ExecStop=/usr/bin/docker stop -t 3 %p

[Install]
WantedBy=webapp.service
