[Unit]
Description=Db docker register
After=docker.service db.service
Requires=docker.service db.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStart=/bin/bash -c "/usr/bin/docker run --name %n --rm \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -e ETCD_PORT_10000_TCP_ADDR=$(ifconfig docker0 | awk '/\<inet\>/ { print $2}') \
    -e ETCD_PORT_10000_TCP_PORT=4001 \
    polvi/docker-register db.service 3306 db-A rootPassword=a password=a name=lendsnap user=lendsnap"
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
MachineOf=db
