[Unit]
Description=Create initial db
Requires=db.service
After=db.service

[Service]
Type=oneshot
ExecStartPre=-/bin/docker rm -f %p
ExecStart=/bin/bash -c "\
    etcd_host=`ifconfig docker0 | grep -o 'inet [0-9.]*' | cut -d ' ' -f 2`; \
    docker run --rm --name %p \
    -e ETCD_HOST=$etcd_host \
    -e MACHINE_PRIVATE_IP=`cat /etc/private_ipv4`\
    --link db:db \
    -v /var/lendsnap-repo/db:/var/lendsnap/db \
    db node scripts/db-setup.js"

[Install]
WantedBy=db.service
