[Unit]
Description=Runs the database
Requires=docker.service data-db.service
After=docker.service data-db.service


[Service]
Restart=on-failure
ExecStartPre=/usr/bin/docker pull mysql
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/bin/bash -c "\
    MACHINE_PRIVATE_IP=`cat /etc/private_ipv4`; \
    docker run --rm --name %p \
    --volumes-from data-db \
    -p $MACHINE_PRIVATE_IP:3306:3306 \
    -e MYSQL_ROOT_PASSWORD=a \
    mysql"
ExecStop=/usr/bin/docker stop -t 3 %p

[Install]
WantedBy=db.target
