[Unit]
Description=Node webapp
Requires=base-node.service data-uploaded.service media.service
After=base-node.service media.service data-uploaded.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStarPre=/usr/bin/docker build -t web-ui /var/lendsnap-repo/web-ui
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/bin/bash -c "\
    etcd_host=`ifconfig docker0 | grep -o 'inet [0-9.]*' | cut -d ' ' -f 2`; \
    docker run --rm --name %p \
    -p 3000:3000 \
    -e ETCD_HOST=$etcd_host \
    -e MACHINE_PRIVATE_IP=`cat /etc/private_ipv4`\
    --volumes-from data-uploaded \
    --volumes-from media \
    web-ui"
ExecStop=/usr/bin/docker stop -t 3 %p

[Install]
WantedBy=webapp.target
