[Unit]
Description=Creates the /mnt/uploaded folder

[Service]
Type=oneshot
ExecStart=/bin/bash -c "mkdir -p /mnt/uploaded"
RemainAfterExit=1

[Install]
WantedBy=webapp.target
