[Unit]
Description=Data only container for uploaded data
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --name %p \
    -v /mnt/uploaded:/var/lendsnap/uploaded \
    busybox echo "Data only container for nginx (uploaded files)"
RemainAfterExit=yes

[Install]
WantedBy=webapp.target
