{% extends "base.html" %}

{% block title%}Document Packages{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        {% if document_packages.length <= 0 %}
            You have no packages
        {% else %}
            <ul>
            {% for package in document_packages %}
                <li>
                    {% if package.user_id != user.id %}
                    <i class="icon-bank"></i>
                    {% endif %}
                    <a href="/document-package/{{ package.id }}">{{ package.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        <div>
            <a href="/document-package/new">Set up a new one</a>
        </div>
    </div>
</div>
{% endblock %}
