<title>{{ page_title or "Lendsnap" }}</title>

<script>
window.VERSION = "{{ version }}";
</script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/media/{{ version }}/vendor/foundation/css/foundation.css" />
<link rel="stylesheet" href="/media/{{ version }}/font/css/lendsnap.css" />
<link rel="stylesheet" href="/media/{{ version }}/css/main.css" />

<script src="/media/{{ version }}/vendor/foundation/js/vendor/jquery.js"></script>
<script src="/media/{{ version }}/vendor/foundation/js/vendor/jquery.cookie.js"></script>
<script src="/media/{{ version }}/vendor/foundation/js/vendor/modernizr.js"></script>
<script src="/media/{{ version }}/vendor/foundation/js/vendor/placeholder.js"></script>
<script src="/media/{{ version }}/vendor/foundation/js/vendor/fastclick.js"></script>
<script src="/media/{{ version }}/vendor/foundation/js/foundation.min.js"></script>


<script>
$(function () {
    $(document).foundation();
});
</script>
