[Unit]
Description=Run db setup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStartPre=-/bin/docker rm -f %p
ExecStart=/bin/bash -c "\
    etcd_host=`ifconfig docker0 | grep -o 'inet [0-9.]*' | cut -d ' ' -f 2`; \
    docker run --rm --name %p \
    -e ETCD_HOST=$etcd_host \
    -e MACHINE_PRIVATE_IP=`cat /etc/private_ipv4`\
    -v /var/lendsnap-repo/web-ui/code:/var/lendsnap/web-ui/code \
    web-ui scripts/db-setup.js"

[Install]
WantedBy=webapp.target
