[Unit]
Description=Node webapp
Requires=base-node.service data-uploaded.service media.service
After=base-node.service media.service data-uploaded.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=/bin/bash -c "if ! $(docker images | grep \"web-ui\" >/dev/null 2>&1); then \
        docker build -t web-ui /var/lendsnap-repo/web-ui; fi"
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/bin/bash -c "\
    etcd_host=`ifconfig docker0 | grep -o 'inet [0-9.]*' | cut -d ' ' -f 2`; \
    docker run --rm --name %p \
    -p 3000:3000 \
    -e ETCD_HOST=$etcd_host \
    -e MACHINE_PRIVATE_IP=`cat /etc/private_ipv4`\
    -v /var/lendsnap-repo/web-ui/code:/var/lendsnap/web-ui/code \
    --volumes-from data-uploaded \
    --volumes-from media \
    web-ui"
ExecStop=/usr/bin/docker stop -t 3 %p

[Install]
WantedBy=webapp.target
