<!DOCTYPE>
<html>
    <head>
        {% include "_head-section.html" %}
    </head>
    <body>
        <div class="row">
            <div class="large-6 columns">
                <h3>over here</h3>
            </div>
            <div class="large-6 columns">
                <div id="account" class="text-right {{ "logged-in" if user }}">
                    {% if user %}
                    <h3><a href="/account">{{ user.email }}</a></h3>
                    {% else %}
                    <h3><a href="/log-in">log in</a></h3>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
