{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <h1>Join Lendsnap</h1>
        {% if error %}
        <div class="alert-box warning">{{ error }}</div>
        {% endif %}
        <div id="home-main-intro">
            <form action="/accept-invite" method="post">
                <div class="row collapse">
                    <div class="large-10 columns">
                        <input type="text" name="invite_id" placeholder="Invitation Code" />
                    </div>
                    <div class="large-2 columns">
                        <button class="postfix" type="submit">Join</button>
                    </div>
                </div>
            </form>
        </div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
{% endblock %}
