[Unit]
Description=Data only container for uploaded data
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStartPre=/usr/bin/mkdir -p /mnt/uploaded
ExecStart=/usr/bin/docker run --name %n \
    -v /mnt/uploaded:/var/lendsnap/uploaded \
    busybox echo "Data only container for nginx (uploaded files)"
ExecStop=/usr/bin/docker stop -t 3 %n

[Install]
WantedBy=multi-user.target
