[Unit]
Description=Nginx proxy
After=docker.service
Requires=docker.service
Requires=data-uploaded.service
Requires=node.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStart=/usr/bin/docker run --rm --name %n \
    -p 80:80 -p 443:443 \
    --volumes-from data-uploaded.service \
    --link node.service:node \
    nginx-proxy
ExecStop=/usr/bin/docker stop -t 3 %n

[Install]
WantedBy=multi-user.target
