[Unit]
Description=Node webapp
After=docker.service
Requires=docker.service
Requires=data-uploaded.service
Requires=db-ambassador.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStart=/usr/bin/docker run --rm --name %n \
    -p 3000:3000 \
    -v /var/lendsnap-repo/code/node:/var/lendsnap/node \
    --volumes-from data-uploaded.service \
    --link db-ambassador.service:db \
    -e LS_NAME=lendsnap \
    -e LS_USER=lendsnap \
    -e LS_PASSWORD=a \
    -e LS_ROOT_PASSWORD=a \
    node
ExecStop=/usr/bin/docker stop -t 3 %n

[Install]
WantedBy=multi-user.target
